---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgb(0, 0, 0);
$background-color: rgb(240, 242, 242);
$brand-color:      rgb(244, 18, 18);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bourbon",
        "neat",
        "bitters/base",
        "base",
        "syntax-highlighting"
;

main {
  @include outer-container(100%);
  @include span-columns(12);
  @include pad();

  @include media(960px) {
    @include span-columns(6);
  }
}

body {
  background: $background-color;
  > header {
    @include pad();
    @include row();
    @include fill-parent();
    position: fixed;
    background: inherit;
    border-bottom: 1px solid darken($background-color, 20%);
    z-index: 100;
    top: 0;
  }
}

footer {
  @include pad();
  @include row();
  @include fill-parent();
  position: fixed;
  background: inherit;
  z-index: 100;
  bottom: 0;
  border-top: 1px solid darken($background-color, 20%);
}
