---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;
$background-color: rgb(240, 242, 242);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bourbon/bourbon",
        "neat/neat",
        "bitters/base",
        "base",
        "syntax-highlighting"
;

body {
  background: $background-color;
  > header {
    @include pad();
    @include row();
    @include fill-parent();
    position: fixed;
    background: inherit;
    border-bottom: 1px solid darken($background-color, 20%);
    z-index: 100;
    top: 0;
  }
}

main {
  @include outer-container(100%);
  @include span-columns(12);
  @include pad();

  @include media(960px) {
    @include span-columns(6);
  }

  article {
      img {
        @include fill-parent();
        padding: 25px 0;
      }
  }
}

footer {
  @include pad();
  @include row();
  @include fill-parent();
  position: fixed;
  background: inherit;
  z-index: 100;
  bottom: 0;
  border-top: 1px solid darken($background-color, 20%);
}
