body {
  background: rgba(236,236,236,1);
}

#header {
  background: url("front.jpg");
  background-position: center;
  background-size: 100% auto;
  height: 800px;
}

#social, #footer {
  padding-top: 20px;
}
