.main {
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
}

.link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.date {
  font-size: 1rem;
  width: 25%;
  text-align: right;
}

.title {
  width: 70%;
  padding: 0 0 0 10%;
}

@media (max-width: 320px) {
}

@media (min-width: 720px) {
  .title {
    padding: 0 25% 0 10%;
  }
}
